

.primary-button {
    background: #22a9e7;
    padding: 12px 18px;
    border: 1px solid transparent;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .primary-button:hover {
    background: #17d5ee;
  }
  
  .secondary-button {
    background: transparent;
    padding: 12px 18px;
    border: 1px solid #333333;
    color: #f3c21f;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .secondary-button:hover {
    background:  #17d5ee;
    color: white;
  }