@import "button.css";
@import "navabar.css";
@import "footer.css";
*{
    margin: 0;
}
#contact {
    height: 70vh;
    width: 100%;
    max-width: 600px;
    margin: 72px auto;
    padding: 0 24px;
  }
  
  #contact h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 32px;
  }
  
  .form {
    max-width: 600px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E0DDDD;
    padding: 32px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;;
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
    
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  
  .form-row .form-group {
    flex: 1;
  }
  
  .submission {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .favicon{
    width: 100px;
  }
  
  @media only screen and (max-width: 768px) {
    #contact {
      height: 100%;
    }
    
    .form-row {
      flex-direction: column;
      gap: 4px;
    }
  }

  .nav-links li:nth-child(4) a{
    text-decoration: underline;
  }
  