#hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 72px 24px;
  }
  
  .hero-content {
    width: 500px;
    margin-left:200px ;
  
  }
  
  .hero-content h1 {
    font-size: 38px;
  }
  
  .hero-content p {
    font-size: 26px;
    margin: 0px 0;
  }
  
  .hero-image {
    width: 500px;
    box-sizing: border-box;
    margin-right: 350px;
  }
  
  .hero-image img {
    border-radius: 16px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @media only screen and (max-width: 1023.9px) {
    #hero-banner {
      flex-direction: column-reverse;
      justify-content: start;
    }
  
    .hero-content {
      max-width: 100%;
    }

    .hero-image{
        margin-left: 500px;
    }

    .hero-image img{
        width: 300px;

  }
}